# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log

# Caches and test files
.pytest_cache/
.coverage
htmlcov/

# OS/IDE files
.DS_Store
.vscode/
.idea/
